{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Quiz{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Play quiz! Enjoy!</h1>

        <form method="POST">
            {% for field in form if field.name != 'csrf_token' %}
                <div>
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {{ form.csrf_token }}
            <input class="btn btn-primary btn-md" id="submit" name="submit" type="submit" value="Submit">
        </form>

      <p class="space-above">
        <a href="{{ url_for('home') }}">Homepage</a>
      </p>
      <p class="space-above">
        <a href="{{ url_for('logout') }}">Press here to logout</a>
      </p>
    </div>
  </div>
</div>


{% endblock %}