{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Quiz{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Play quiz! Enjoy!</h1>

      <ul>
        {% for key, value in questions_dictionary.items() %}
        <h2>{{ value["question"] }}</h2>
        {{ render_form(form, novalidate=True) }}
        {% endfor %}
      </ul>

      <p class="space-above">
        <a href="{{ url_for('home') }}">Homepage</a>
      </p>
      <p class="space-above">
        <a href="{{ url_for('logout') }}">Press here to logout</a>
      </p>
    </div>
  </div>
</div>


{% endblock %}